.short-intro-cover {
    width: auto;
    height: 75vh;
    background-color: #cf0205;
    color: white;
    padding: 15vh;
}

.short-intro-content {
    width: 65%;
    margin-left: 18%;
}

.short-intro-heading {
    width: 95%;
    font-size: 5vmin;
    text-align: center;
}

.short-intro-details {
    font-size: 3.5vmin;
    line-height: 5vmin;
    margin-top: 5vmin;
}